<main class="main">
    <div class="container bg-primary rounded mt-4"> 
        <div class="row justify-content-md-center">
          <div class="col-md-6 mt-4">
            <h1 class=" display-6  text-center">Quien soy</h1>
            </div>
        </div>
        <!-- los campos de formulario son elementos de linea -->
        <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div>
              <p class="text-center">Programador con casi 3 a침os de experiencia en el Rubro de Seguros utilizando Genexus. Aportando rapidez en las soluciones y optimizando procesos.
                Actualmente trabajando con supermercados con el sistema de administraci칩n y facturaci칩n.
              </p>
              <p class="text-center">Fuera del trabajo incursione con Python en un peque침o proyecto que hacia consumo de una API de la municipalidad de Rosario. Y actualmente 
                me encuentro aprendiendo NodeJS en la UTN
              </p>
            </div>
        </div>
    </div>
</main>